<div class="row">
<h2 class="span12"><%= @song.title %></h2>

<% if @versions.count > 1 %>
  <div class="span3 song-stat">
    <h3>First played</h3>
    <p><%= link_to(@versions.first.date.strftime('%B %d, %Y'), show_path(@versions.first.show_id)) %></p>
  </div>
  <div class="span3 song-stat">
    <h3>Last played</h3>
    <p><%= link_to(@versions.last.date.strftime('%B %d, %Y'), show_path(@versions.last.show_id)) %></p>
  </div>
  <div class="span3 song-stat">
    <h3>Times played</h3>
    <p><%= @versions.count %></p>
  </div>
  <% if current_user %>
  <div class="span3 song-stat">
    <h3>You've personally heard this song</h3>
    <p><%= "#{@you_saw} times" %></p>
  </div>
  <% end %>
<% end %>
</div>

<div class="row">
  <div class="span6">
    <div id="position-chart"></div>
  </div>
  <div class="span6">
    <%= render 'song_by_year' %>
  </div>
</div>

<div class="row">
  <div id="lyrics" class="span6">
    <h3><%= "Lyrics/Notes" unless @song.instrumental %><%= raw("<em>Instrumental</em> | Notes") if @song.instrumental %></h3>
    <div class="well"
    <% if @song.notes %>
      <%= simple_format @song.notes %>
    <% else %>
      <p>There are none!  <%= link_to "Please add some!", edit_song_path(@song), :class => "btn btn-mini" %></p>
    <% end %>
    <% if current_user %>
      <%= link_to "Edit", edit_song_path(@song), :class => "btn btn-small btn-success" %>
    <% end %>
    </div>
  </div>

  <div id="shows-played" class="span6 accordion">
    <h3>Shows played</h3>
    <% @years_played.each do |year| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "#{year} - #{@versions.select { |v| v.date.year == year }.count } plays", "#collapse#{year}", :class => "accordion-toggle", :data => { :toggle => "collapse", :parent => "shows-played" } %>
      </div>
      <div class="accordion-body collapse" id="collapse<%= year %>">
        <table class="table accordion-inner">
            <% @versions.select { |v| v.date.year == year }.each do |v| %>
              <tr>
                <td class="date"><%= v.date %></td>
                <td><%= link_to v.venue_name, show_path(v.show_id) %></td>
                <td>
                  <% if current_user && @user_shows.include?(v.show_id) %>
                    <em class="muted">You were there!</em>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :json do %>
<script type="text/javascript" charset="utf-8">
  var HOBO = HOBO || {};
  HOBO.song_id = <%= @song.id %>;
</script>
<% end %>