<h2><%= @song.title %></h2>

<p>First played: <%= @versions.first.show.date.strftime '%B %d, %Y' %></p>
<p>Last played: <%= @versions.last.show.date.strftime '%B %d, %Y' %></p>
<p>Times played: <strong><%= @versions.count %></strong></p>

<div id="shows-played">
  <h3>Shows played</h3>
  <% @versions.each do |v| %>
    <div><%= v.show.date %> - <%= link_to v.show.venue.name, v.show %></div>
  <% end %>
</div>