<div id="modal-signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Sign up, won't you?</h3>
  </div>
  <div class="modal-body">
    <p class="muted">We are <strong>not</strong> interested in your personal information.  It'll never be sold, or traded, or whatever.  You just need a User ID to be able to do the personalized cool stuff that is going on here, so please consider creating an account.<br /> 
    <small>- your fellow hobos</small></p>
    <%= form_for(@user) do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div>
        <%= f.submit "Sign up", :class=> "btn btn-primary" %>
        <%= link_to "I'm already a member", new_user_session_path, :class => "btn" %>
      </div>

    <% end %>
  </div>
</div>
