<h4><em>Total shows from <%= @shows.last.date.strftime '%b %d, %Y'%> to <%= @shows.first.date.strftime '%b %d, %Y'%></em> - <strong><%= @shows.count %></strong></h4>
<table class="table">
<% @shows.each do |show| %>
<tr>
  <td><%= show.date.strftime('%D') %></td>
  <td><%= "#{show.venue.city}, #{show.venue.state}" %></td>
  <td><%= link_to show.venue.name, show %></td>
</tr>
<% end %>
</table>
