<p><em>Total shows from <%= @shows.last.date.strftime '%b %d, %Y'%> to <%= @shows.first.date.strftime '%b %d, %Y'%></em> - <strong><%= @shows.count %></strong></p>
<div>
<% @shows.each do |show| %>
<div>
  <%= show.date %> - <%= link_to show.venue.name, show %>
</div>
<% end %>
</div>
