<h4><em>Total shows</em> - <strong><%= @shows.count %></strong></h4>
<table class="table">
<% @shows.each do |show| %>
<tr>
  <td><%= show.date.strftime('%D') %></td>
  <td><%= "#{show.city}, #{show.state}" %></td>
  <td><%= link_to show.name, show %></td>
  <td id="button_<%= show.id %>">
  <% if current_user %>
    <% if @user_shows.include?(show.id) %>
      <%= link_to "Just kidding, I wasn't actually there", delete_show_tag_path(show.id), :method => :delete, :remote => true, :class => "btn btn-mini", :id => "untag_show_#{show.id}", data: { disable_with: "Submitting..." } %>
    <% else %>
      <%= link_to "I was there", tag_show_path(show.id),  :class => "btn btn-mini btn-primary", :id => "tag_show_#{show.id}", data: { disable_with: "Submitting...", :method => :post, :remote => true } %>
    <% end %>
  <% else %>
    <%= link_to "I was there", "#modal-signup", :class => "btn btn-mini btn-primary", :data => { :toggle => "modal" } %>
  <% end %>
  </td>
</tr>
<% end %>
</table>
<%= render "modal_signup" %>
