<div class="row-fluid">
  <h2>Add a new show</h2>
  <div class="span6 pull-right well">
    <h4>Add new venue</h4>
  <%= simple_form_for @venue,:defaults => { :input_html => { :class => 'input-large' } }, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :name %>
    <%= f.input :city %>
    <%= f.input :state, :collection => Venue.states_abbr.invert %>
    <%= f.input :country, :as => :string %>
    <%= f.button :submit %>
  <% end %>
  </div>

  <%= render 'form' %>

  <%= link_to "back", shows_path %>
</div>