<h2><%= @show.date.strftime '%B %d, %Y' %></h2>
<h3><%= link_to "#{@venue.name} - #{@venue.city}, #{@venue.state}", @venue %></h3>

<div>
  <% @songs.each do |song| %>
    <div><%= song.position %> <%= link_to song.song.title, song.song %> <%= "->" if song.transition %> <%= song.song_notes%></div>
  <% end %>
</div>

<div>
  <p><%= simple_format @show.show_notes %></p>
</div>