<div class="row">
  <div class="span12">
    <h2><%= @show.date.strftime '%B %d, %Y' %></h2>
    <h3><%= link_to "#{@show.name} - #{@show.city}, #{@show.state}", venue_path(@show.venue_id) %></h3>
  </div>

  <div id="setlist" class="span6">
    <div class="row">
    <% @possible_sets.each do |set| %>
      <% unless @songs.select { |s| s.set_number == set }.empty? %>
        <div class="span3">
        <h4><%= x = set.to_i > 0 ? "Set #{set}" : "#{set}" %></h4>
        <% @songs.select { |s| s.set_number == set }.each do |song| %>
          <% if song.is_song %>
            <div><%= link_to song.title, song_path(song.id) %> <%= "->" if song.transition %> <%= song.song_notes %></div>
          <% else %>
            <div><%= song.title %></div>
          <% end %>  
        <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  
  <div id="show-notes" class="span6">
    <div class="well">
      <% if @archive_info %>
        <%= render 'archive_recordings' %>
      <% end %>
      <div id="recording"></div>
      <h4>Show notes</h4>
      <p><%= simple_format @show.show_notes %></p>
      
      <%= render 'admin_links' %>
    </div>
  </div>

</div>
