<div class="row">
  <div class="well" id="welcome">
    <% if current_user && !current_user.shows.empty? %>
      <div class="span3">
        <h4>
          Your last show was<br />
          <em class="muted"><%= (Date.today - @user_last_show.date).to_i %> days ago</em> in<br />
          <%= "#{@user_last_show.venue.city}, #{@user_last_show.venue.state}" %>.</h4>
          <%= link_to "take me there...", @user_last_show, :class => "btn btn-small" %>
      </div>
    <% else %>
    <p>Hello, Railroad Earth fan.  Welcome to this work in progress.</p>
    <p>The idea here is...</p>
    <p>Actually, the idea here is as widely varied as the music this band makes.  Currently it's a collection of setlists and lyrics to songs, and other more or less factual information about what this band has been doing for <%= distance_of_time_in_words_to_now(@first_show.date) %> now.  This will most likely change over time to include stuff that's a little more interesting and relevant to <strong>you</strong>.  Of course, to tap into all this wonderful goodness, at some point, you're going to have to <%= link_to "sign up", "#modal-signup", :class => "btn btn-mini btn-success", :data => { :toggle => "modal" } %>.</p>
    <p>Thanks for stopping by,<br />
    Us Hobos</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="recently-added" class="span3">
    <h4 class="muted">Recently added setlists</h4>
    <% @recently_added.each do |show| %>
      <p><%= link_to "#{show.date.strftime('%D')} - #{show.city}, #{show.state}", show %></p>
    <% end %>
  </div>

  <div id="recent-songs" class="span3">
    <h4 class="muted">Recently added lyrics</h4>
    <% @recently_updated_songs.each do |song| %>
      <p><%= link_to song.title, song %></p>
    <% end %>
  </div>

  <div id="most-recent" class="span3">
    <h4 class="muted">Last show</h4>
    <h4><em><%= link_to "#{@most_recent.name}", @most_recent %></em></h4>
    <h5><em><%= "#{@most_recent.city}, #{@most_recent.state}" %></em><br />
      <%= @most_recent.date.strftime('%D') %>
    </h5>
  </div>

  <div id="user-stats" class="span3">
    <h4 class="muted">Some stats</h4>
    <ul>
      <li><%= User.count %> registered hobos</li>
      <li><%= Show.count %> total setlists</li>
    </ul>
  </div>
</div>

<div class="row">
  <div id="shows-per-year" class="span12"></div>
</div>

<div class="row" id="tabs">
  <p class="muted">Loading...</p>
</div>
<%= render "modal_signup" %>
