<div id="welcome">
  <p>Hello, Railroad Earth fan.  Welcome to this work in progress.</p>
  <p>The idea here is...</p>
  <p>Actually, the idea here is as widely varied as the music this band makes.  Currently it's a collection of setlists and lyrics to songs, and other more or less factual information about what this band has been doing for <%= distance_of_time_in_words_to_now(@first_show.date) %> now.  This will most likely change over time to include stuff that's a little more interesting and relevant to <strong>you</strong>.  Of course, to tap into all this wonderful goodness, at some point, you're going to have to <%= link_to "sign up", new_user_registration_path, :class => "btn btn-mini btn-success" %>.</p>
  <p>Thanks for stopping by,<br />
  Us Hobos</p>

</div>


<div id="recently-added">
  <h3>Recently added setlists</h3>
  <% @recently_added.each do |show| %>
    <h5><%= link_to "#{show.date.strftime('%D')} - #{show.city}, #{show.state}", show %></h5>
  <% end %>
</div>

<div id="recent-songs">
  <h3>Recently updated songs</h3>
  <% @recently_updated_songs.each do |song| %>
    <h5><%= link_to song.title, song %></h5>
  <% end %>
</div>

<div id="most-recent">
  <h3>Last show</h3>
  <h4><em><%= link_to "#{@most_recent.name}", @most_recent %></em></h4>
  <h5><em><%= "#{@most_recent.city}, #{@most_recent.state}" %></em><br />
    <%= @most_recent.date.strftime('%D') %>
  </h5>
</div>

<div id="all-tabbed">
  <h3>All shows</h3>
  <ul class="nav nav-tabs">
    <% @years.each do |year| %>
    <li><%= link_to year, "##{year}", :data => { :toggle => "tab" } %></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @years.each do |year| %>
    <table id="<%= year %>" class="hide table">
      <% @shows.select {|s| s.date.year == year }.each do |show| %>
      <tr>
        <td><%= show.date.strftime('%D') %></td>
        <td><%= "#{show.city}, #{show.state}" %></td>
        <td><%= link_to show.name, show %>
        <td id="button_<%= show.id %>">
        <% if current_user %>
          <% if @user_shows.include?(show.id) %>
            <%= link_to "Just kidding, I wasn't actually there", delete_show_tag_path(show.id), :method => :delete, :remote => true, :class => "btn btn-mini", :id => "untag_show_#{show.id}", :disable_with => "Submitting..." %>
          <% else %>
            <%= link_to "I was there", tag_show_path(show.id), :method => :post, :remote => true, :class => "btn btn-mini btn-primary", :id => "tag_show_#{show.id}", :disable_with => "Submitting..." %>
          <% end %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </div>
    <% end %>
  </table>
</div>
