<!DOCTYPE html>
<html>
<head>
  <title>RRE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-narrow">
    <div class="masthead">
      <h1><%= link_to "the Hobo's Companion", root_path %></h1>
      <%= debug current_user %>
    </div>
    <div id="messages">
      <% flash.each do |key, value| %>
        <div class='flash' id='<%= key %>'>
          <%= value %>
        </div>
      <% end %>
    </div>
  <%= yield %>
  </div>
</body>
</html>
